*{padding: 0; margin: 0;}
#wrapper{ border: solid; padding: 10px;}
#header{ height: 100px;padding: 10px; background-color: gray;}
#logo{width: 150px; height: 100px;}
/*#navbar{height: 50px; background-color: green; margin-top: auto;}*/
#menu-container{margin-top: 10px;}
#menu-container::after{content: ""; display: block; clear: both;}
#left-panel{width: 10%; height:700px; background-color: chartreuse; float: left; font-size: x-large; text-align: center;}

/*
#menue-1{width: 300px; height: 30px; background-color: dimgrey;!*border: solid*!;}
#menue-2{width: 300px; height: 30px;background-color: dimgrey; border: solid;}
#menue-3{width: 300px; height: 30px;background-color: dimgrey; !*border: solid;*!}
#menue-4{width: 300px; height: 30px;background-color: dimgrey; border: solid;}
#menue-5{width: 300px; height: 30px;background-color: dimgrey; !*border: solid;*!}
#menue-6{width: 300px; height: 30px;background-color: dimgrey; border: solid;}
*/



#right-section{ width: 89%;height: 700px;background-color: darkred; float: right;}
/*#container{margin-top: 10px;}
#container::after{content:""; display: block; clear: both}
#left-container{width: 25%;height: 500px; background-color: blueviolet;float: left; }
#right-container{width: 74%;height: 500px; background-color:indianred; float: right; }*/
#footer{height: 50px;background-color: darkblue;}